
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Start */

.navbar li a:hover {
  color: #00e0d0;
}
.header {
  background-image: url(./images/bgk-header.png);
  background-repeat: no-repeat;
  height: 670px;
  background-size: cover;
}

.leiste {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_schrift {
  display: flex;
}
.logo {
  height: 50px;
}
.logoschrift {
  color: #00e0d0;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 3px 0px 0px 10px;
  font-weight: 300;
}

.navbar {
  float: right;
  display: flex;
}
.navbar li {
  font-size: 13px;
  color: white;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 10px;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.textbox {
  width: 100%;
  height: 570px;
  text-align: center;
  margin-top: 150px;
}
.textueber {
  font-size: 32px;
  color: white;
  text-align: center;
}
.texthaupt {
  color: white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
.strich {
  border: 1px solid #00e0d0;
  width: 3%;
  margin: 20px auto;
}

.button {
  color: #00e0d0;
  height: 40px;
  width: 120px;
  border: solid 1px #00e0d0;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  margin: 30px auto 0px auto;
}

.button a {
  color: #00e0d0;
  text-decoration: none;
}
.button a:hover {
  color: white;
}
/* Header End */

/* ------ story ------*/

#story {
    display: flex;
    padding: 1rem 20rem;
    justify-content: center;
    gap: 2rem;
    margin: 50px 0;
}
#story p {
    margin-top: 15px;
}

.story-img {
    padding-top: 1.3em;
}

.story-p {
    padding-left: 3rem;
    padding-right: 5rem;

}

.story-btn {
    color: #00e0d0;
    height: 40px;
    width: 120px;
    border: solid 1px #00e0d0;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    margin: 30px auto 0px auto;
    float: left;
    
}

#watch-story {
    width: 100%;
    height: 550px;

}

#watch-story .watch-story-background {
    background: url("./images/bgk-middle.png");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-size: cover;

}

/* +++ START EXPERTISE SECTION +++ */

.expertise-wrapper {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 980px;
  /* background-color: rgb(0, 0, 0); */
}

.expertise-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.expertise-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #413d4b;
  margin-bottom: 12px;
}

.expertise-desc {
  font-size: 14px;
  color: #2f2d35;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.seperator {
  width: 50px;
  border: 1px solid #c6c4c9;
  margin: 10px auto;
}
.cards {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
  justify-content: center;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 310px;
  /* border: 1px solid #ebebeb; */
  padding: 35px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.card img {
  margin-bottom: 26px;
}

.card-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 24px;
  color: #413d4b;
}

.card-description {
  font-weight: 300;
  color: #333333;
  word-spacing: 3px;
}

/* Border Helper Classes Start */
.border-right {
  border-right: 1px solid #ebebeb;
}
.border-bottom {
  border-bottom: 1px solid #ebebeb;
}
/* Border Helper Classes End */

/* +++ END EXPERTISE SECTION +++ */

/* Footer START */
footer {
  background-image: url(./images/bgk-footer.png);
  background-size: cover;
  height: 396px;
}
/* Footer End */
